@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  top: 0;
  text-decoration: none;
  margin: 0;
  list-style: none;
  box-sizing: border-box;  }

body {
  background-repeat: no-repeat;
}


header .fond IMG {
  width: 100%;
  height: 880px;
  object-fit: cover; 
  margin-top: 85px;
  filter: brightness(60%)
}

header .fond h1 {
    color: white;
    margin-top: -140px;
    font-family: 'Poppins';
    margin-left: 300px;
    filter: brightness(100%);
}

header .navlist {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: -170px;
}

header .navlist ul {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

header .navlist .logo {
  flex-grow: 1;
  margin-left: 380px;
}

header .navlist .logo h1 {
  font-size: 44px;
  color: black;
  font-weight: 400;
}

header .navlist .logo h1 span {
  font-size: 15px;
}

header .navlist li {
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
}

header .navlist li a {
  font-size: 16px;
  color: black;
  transition: color 0.5s ease;
}

header .navlist li a:hover {
  border-bottom: 2px solid black;
  height: 100px; /* Définissez la hauteur souhaitée */
  
}

header .navlist .icon {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

header .navlist .icon a:hover {
  transform: scale(1.2);
}

header .navlist .icon a {
 padding-left:40px;
  color: black;
  font-size: 18px;
}

header .contend {
    margin-top: 150px;
    font-family: 'Poppins';
    font-size: 13px;
    margin-left: 65px;
}

header .contend h1 {
  font-weight: 600;
}

header .contend p {
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px;
    font-size: 18px;
}

header .contend .second {
    line-height: 50px;
    margin-top: -10px;
}

.running .strava {
  width: 100%; /* Remplacez par la largeur finale souhaitée */
  height: 580px; /* Remplacez par la hauteur finale souhaitée */
  overflow: hidden; /* Assurez-vous que rien ne déborde */
  position: relative;
  margin-top: 35px;
}

.running .strava img {
  width: 100%; /* La largeur de l'image remplira le conteneur */
  height: auto; /* Laisser la hauteur s'ajuster automatiquement */
  position: absolute;
  top: -220px; /* Ajustez cette valeur pour couper la partie supérieure */
}

.running .strava-contend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Pour s'assurer que le texte est visible */
  margin-top: 1235px;
  
}

.running .strava-contend h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  margin-top: -75px;
}

.running .strava-contend a {
  font-size: 17px;
  color: black;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  padding: 12px 25px ;
  border-radius: 2px 13px 13px;
 
}

.running .strava-contend .link:hover{
   transform: scale(1.1);
}

.running .strava-contend .link {
  margin-top: 60px;
  transition: transform 0.4s ease;
}

.footer {
  display: flex;
  justify-content: center;
  height: 75vh;
  background-color: black;
  color: white;
}

.footer .contact {
  margin-top: 100px;
}

.footer .contact h1 {
  font-size: 45px;
  font-weight: 300;
}

.footer .contact h3 {
  font-weight: 300;
  font-size: 35px;
  margin-top: 15px;
}

.footer .contact p {
  margin-top: 15px;
  color: rgb(170, 169, 169);
  font-family: 'Poppins';
  font-size: 15px;
}

.footer .contact .second {
  color: white;
}

.footer .contact .text {
  text-align: center;
}

.footer .formulaire .second {
  font-size: 12px;
  margin-left: 45px;
}

form {
  width: 14%;
  margin-left: 55px;
  margin-top: -35px;
}

form input
{
  display: block;
  width: 600%;
  padding: 15px 10px;
  margin: 50px 0;
  border: none;
  background-color: white;
}

form button{
  background-color: white;
  border: none;
  padding: 12px 50px;
  font-size: 19px;
  border-radius: 5px 12px 12px; 
  cursor: pointer;
  margin-left: 190px;
  margin-top: -30px;
}

.info {
  background-color: black;
  display: flex;
  height: 45vh;
}

.info .footer-img li{
  display: flex;
  text-align: center;
  align-items: center;
}

.info .icons-app {
  margin-left: 500px;
  margin-top: 40px;
}

.info .icons-app a {
  padding-left: 50px;
  color: white;
  font-size: 34px;
}

.info img {
  height: 35px;
  margin-top: 50px;
  margin-left: 200px;
}

.info hr {
  margin-top: 50px;
  margin-left: 200px;
}

.info .li-twoo li{
  justify-content: center;
  margin-top: 50px;
  margin-left: 120px;
}

.info .li-twoo a {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-left: 65px;
}



.info .footer-suite {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
}

.info .footer-suite p  {
  color: white;
  font-family: 'Poppins';
}

.info .footer-suite img {
  margin-top: 10px;
  margin-left: 220px;
  height: 50px;
}

.info .pays {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height:38px ;
  margin-left: 130px;
}

.info .pays select {
  width: 450px;
  font-size: 16px;
  background-color: #f9f9f9; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 4px; /* Coins arrondis */
 outline: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#333" d="M2 0L0 2h4z"/></svg>'); /* Icône de la flèche */

  
}